.button.success {
    background-color: #13ce66;
    color: white;
}

.button.warning {
    background-color: #f7ba2a;
    color: white;
}

.button.danger {
    background-color: #ff4949;
    color: white;
}

.button.info {
    background-color: #50bfff;
    color: white;
}

.button.ok {
    background-color: deepskyblue;
    color: white;
}

.button.cancel {
    background-color: rebeccapurple;
    color: white;
}